listening-port=3478
tls-listening-port=5349
listening-ip=@PRIVATE_IP@
relay-ip=@PRIVATE_IP@
external-ip=@PUBLIC_IP@/@PRIVATE_IP@
min-port=31000
max-port=31199
fingerprint
lt-cred-mech
realm=bounded-webrtc-lab.invalid
user=@TURN_USER@:@TURN_PASSWORD@
cert=/run/avpn-webrtc-tls/server.crt
pkey=/run/avpn-webrtc-tls/server.key
no-tlsv1
no-tlsv1_1
no-cli
no-loopback-peers
no-multicast-peers
stale-nonce=600
